

    <img class="img-fluid" src="/images/restaurants.jpg" width="100%">



    <div class="jumbotron jumbotron-fluid" id="jumbo">
        <div class="container">
        <div class="strike">
          <span><h2 align="center">SousChef is your place to stay updated about the top restaurants in Tel Aviv, leave a review, learn about your friends experience and order a place in one click</h2></span>
        </div>
        </div>
    </div>



<div class="container">
  <div class="row md-4">
    <% for restaurant in @restaurants %>
        <div class="col-md-4 text-center">
            <div class="card" >
                <img src="/images/<%=restaurant[:name]%>.jpg" class="card-img-top" alt="..." style="width: 100%;">
                <div class="card-body">
                <h3 class="card-title"><p><%= restaurant[:name] %></p></h3>
                <a href="/restaurants/<%= restaurant[:id] %>" class="btn btn-outline-dark">Learn More</a>
                </div>
            </div>
        </div>
    <% end %>
</div>
</div>


