

<img class="img-fluid" src="/images/rest3.jpg" width="100%">

<hr></hr>

<div class="jumbotron jumbotron-fluid" id="jumbo">
    <div class="container">
    <div class="strike">
        <span><h2 align="center" style="color:black;">SousChef is your place to stay updated about the top restaurants in Tel Aviv from the people you REALY care about</h2></span>
    </div>
    <div class="container">
        <div class="row mt-4">
        <div class="col-md-4 text-center">
            <h1><i class="fas fa-pencil-alt" style="font-size:90px;color:black;"></i></h1>
            <p></p>
            <h5 style="color:black;">Leave a Review</h5>
        </div>
        <div class="col-md-4 text-center">
            <h1><i class="fas fa-users" style="font-size:90px;color:black;"></i></h1>
            <p></p>
            <h5 style="color:black;">Learn about your friends experiences</h5>
        </div>
        <div class="col-md-4 text-center">
            <h1><i class="fas fa-glass-cheers" style="font-size:90px;color:black;"></i></h1>
            <p></p>
            <h5 style="color:black;">Book a table in ONE click</h5>
        </div>
        </div>
    </div>
    </div>
</div>

<hr></hr>


<div class="container">
  <div class="row md-4">
    <% for restaurant in @restaurants %>
        <div class="col-md-4 text-center">
            <div class="card" >
                <img src="/images/<%=restaurant[:name]%>.jpg" class="card-img-top" alt="..." style="width: 100%;">
                <div class="card-body">
                <h3 class="card-title"><p><%= restaurant[:name] %></p></h3>
                <a href="/restaurants/<%= restaurant[:id] %>" class="btn btn-outline-dark">Learn More</a>
                </div>
            </div>
        </div>
    <% end %>
</div>
</div>

<br></br>

<div class="container">
<h2 align="center">Are we missing a MUST HAVE resturant in our list?</h2>
    <form action="/add_restaurant" method="POST">
    <div class="row mt-4">
            <div class="col-md-10 text-center">
                <div class="form-group">
                    <input type="text" class="form-control" name="restaurant_name" placeholder="Write its name below and we will add it ASAP">
                </div>
            </div>
            <div class="col-md-2 text-center">
                <button align="center" type="submit" class="btn btn-primary">Text Us NOW!</button>
            </div>
    </form>
</div>

